<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>CheckLogin</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ClientEdit</servlet-name>
        <servlet-class>ClientEdit</servlet-class>
    </servlet>
	
	<servlet>
        <servlet-name>ClientList</servlet-name>
        <servlet-class>ClientList</servlet-class>
    </servlet>
	
	<servlet>
        <servlet-name>ClientUpdate</servlet-name>
        <servlet-class>ClientUpdate</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ConnectionUtils</servlet-name>
        <servlet-class>ConnectionUtils</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateProject</servlet-name>
        <servlet-class>CreateProject</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>Dashboard</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EmployeeList</servlet-name>
        <servlet-class>EmployeeList</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>menu</servlet-name>
        <servlet-class>menu</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProjectEdit</servlet-name>
        <servlet-class>ProjectEdit</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProjectList</servlet-name>
        <servlet-class>ProjectList</servlet-class>
    </servlet>	
	
	 <servlet>
        <servlet-name>ProjectUpdate</servlet-name>
        <servlet-class>ProjectUpdate</servlet-class>
    </servlet>	

	 <servlet>
        <servlet-name>ProjectView</servlet-name>
        <servlet-class>ProjectView</servlet-class>
    </servlet>	
	
    <servlet>
        <servlet-name>QualificationList</servlet-name>
        <servlet-class>QualificationList</servlet-class>
    </servlet>
	
	<servlet>
        <servlet-name>QualificationView</servlet-name>
        <servlet-class>QualificationView</servlet-class>
    </servlet>
	
	<servlet>
        <servlet-name>EmployeeView</servlet-name>
        <servlet-class>EmployeeView</servlet-class>
    </servlet>
	
	<servlet>
        <servlet-name>ClientView</servlet-name>
        <servlet-class>ClientView</servlet-class>
    </servlet>

	
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ClientEdit</servlet-name>
        <url-pattern>/ClientEdit</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>ClientList</servlet-name>
        <url-pattern>/ClientList</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>ClientUpdate</servlet-name>
        <url-pattern>/ClientUpdate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ConnectionUtils</servlet-name>
        <url-pattern>/ConnectionUtils</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateProject</servlet-name>
        <url-pattern>/CreateProject</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EmployeeList</servlet-name>
        <url-pattern>/EmployeeList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProjectEdit</servlet-name>
        <url-pattern>/ProjectEdit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProjectList</servlet-name>
        <url-pattern>/ProjectList</url-pattern>
    </servlet-mapping>
	
	 <servlet-mapping>
        <servlet-name>ProjectUpdate</servlet-name>
        <url-pattern>/ProjectUpdate</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>ProjectView</servlet-name>
        <url-pattern>/ProjectView</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>QualificationList</servlet-name>
        <url-pattern>/QualificationList</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>QualificationView</servlet-name>
        <url-pattern>/QualificationView</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>ClientView</servlet-name>
        <url-pattern>/ClientView</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>EmployeeView</servlet-name>
        <url-pattern>/EmployeeView</url-pattern>
    </servlet-mapping>
	


</web-app>
